@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat";
  src: url("/font/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
